.lobby-page {
  @apply w-full h-screen flex flex-col pt-16 bg-[#061421] overflow-hidden;

  .lobby-tabs {
    @apply flex items-center justify-center gap-4 bg-[#061421] border-b border-cyan-900/30;
  }

  .fab-button {
    position: fixed;
    right: 20px;
    bottom: 60px;
    z-index: 999;
    border-radius: 30% !important; // Làm nút tròn xoe
    width: 56px;
    height: 56px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;

    // Hiệu ứng khi nhấn cho giống game tactical
    &:active {
      transform: scale(0.95);
    }
  }
}